
<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container-fluid">
      <div class="row">
        <% include ./partials/nav %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">AWS SDK v3 actions</h1>

          <div class="row">
            <div class="col-xs-12 col-sm-6" style="padding-bottom: 30px;">
            <h2>aws-sdk v2 Operations</h2>
            <ul>
              <li><a href="/aws/sns">SNS</a></li>
              <li><a href="/aws/sqs">SQS</a></li>
              <li><a href="/aws/s3">S3</a></li>
            </ul>
            <h2>aws-sdk v3 Operations</h2>
            <ul>
              <li><a href="/aws/sns-client">SNS Client actions</a></li>
              <li><a href="/aws/sqs-client">SQS Client  action</a></li>
              <li><a href="/aws/dynamo-put">Dynamo PutItem</a></li>
              <li><a href="/aws/dynamo-doc-put">Dynamo Doc Client Put</a></li>
              <li><a href="/aws/s3-put">S3 Put</a></li>
          </div>
          <% include ./partials/footer %>
        </div>
      </div>
    </div>
  </body>
</html>
